*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(247, 51, 51);
  
 
    color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    
    
}

#indice{
    list-style: none;
}
    
.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logotipo img{
    width: 100px;
    height: auto;
}

.indice{
    display: flex;
    background-color: rgb(247, 51, 51);
    flex-direction: row;
    margin-right: 100px;
    list-style: none;
}
    
    


nav ul li a {
    display: inline;
    flex-direction: row;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;

   
}
.educaciongeneral{
    display: flex;
    flex-wrap: nowrap;   
   }
   .chicosestudiandosecundaria{
       width: 35%;
       height: 35%;
       display: inline;
       align-items: center;
       
   }
   .nivelprimario, .nivelsecundario{
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-top: 20px;
   }
   .apoyoescolar{
       display: flex;
       justify-content: center;
       flex-direction: row;
   }   
.fotosjubilados{
    
  
 
    
    width: 100%;
    height: 100%;
    
}
    
.fotosinicio{
    display: flex;
  justify-content: center;
  align-items: center;
}

.jubiladosfotos{

    display: inline;
   margin-top: 50px;
    height: 200px;
    width: 200px;
    
    
    
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    display: flex;
    text-align: center;
    font-size: 22px;
    justify-content: center;
}
.imgfooter{
   display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-weight: lighter;
    font-size: 18px;
    border-radius: 80%;
  
    
}
.centrarfooter{
    display: flex;
    justify-content: center;
    background-color: rgb(247, 51, 51);
}
.mapa{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.tabladehorarios{
    display: flex;
    justify-content: center;
}
.tablahorario{
    display: grid;
    grid-template-columns: 150px 150px ;
    grid-template-rows: 50px 50px 50px 50px 50px;
    border: 2px solid;
}
.tablahorario > div{
    border: 1px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    display: flex;
    text-align: center;
    justify-content: center;
}
.escuela{
    border: 2px solid red;
    background-color: rgb(233, 233, 48);
    border-radius: 5%;
  
}
.textapoyoescolar{
    display: flex;
    text-align: center;
    justify-content: center;
    font-style: oblique;
}
.formularios{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alto{
    height: 40vh;
}
.pelota{
    height: 100%;
    width: 100%;
}
.colorfondo{
    background-color: rgb(247, 51, 51);
}
.logo{
    height: 20%;
    width: 20%;
    
}